body{
    background-image: url(backgroundpictureofmine.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(to right, skyblue,lightgreen);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
h1{
    text-align: center;
    background: linear-gradient(to right, skyblue,white
    );
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed
}
p{
    background: linear-gradient(to left, skyblue,white);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed
}